// http://wonderfullyflawed.com/2008/05/21/clearfix-as-mixin/
=clearfix
  *display: inline-block
  &:after
    content: " "
    display: block
    height: 0
    clear: both
    visibility: hidden

body
  :width 660px
  :margin 0px auto
  :background-color #111
  :color #666
  
a
  :color #858DF3
  &:hover
    :color #fff
  img
    :border 1px solid #000
    &:hover
      :border 1px solid #fff

h2
  :color #666

#content
  :width 660px
  :background-color #1a1a1a
  
#header
  +clearfix
  :margin-top 10px
  :margin-bottom 20px
  :padding 10px 10px 0px 10px

#main
  :padding 0px 10px 10px 10px

h1#title
  :height 60px
  :float left
  :width 230px
  :margin 0px
  img
    :border 0px

#header p
  :float right
  :margin 0px
  :text-align right
  :margin-right 10px

#mustache_count
  :font-style italic
  :display block

.pages.show #main
  :text-align left
  
// mustached_images ===========================================================
// show -----------------------------------------------------------------------
body.images.show
  img.mustached
    :display block
    :border 1px solid #000
    :margin 0px auto
    
ul.gallery
  :padding 0px
  :margin 10px 0px
  :text-align center
  .current
    img
      :border 1px solid #000
  li
    :display inline

// love footer ================================================================  
#footer
  :text-align right
  :padding 10px
  :font-size 10px
  .separator
    :padding 5px
  a
    :color #666
    :text-decoration none
  #love
    :line-height 10px
    :color #fff

// uploader ===================================================================
form#new_image
  +clearfix
  :text-align left
  :margin 20px 0px
  :background-color #212121
  :padding 10px
  label
    :padding-right 5px
  p
    :float left
    :margin 0px
  .submit
    :float right
    :margin-top 2px